<div class="main-notification-container">
	<div class="upcoming scheduled">
		<div class="time">10:00</div>
		<div class="meta-container">
			<div class="title">
				Weekly UX SyncUp
			</div>
			<div class="participant-container">
				<div class="participant a"></div>
				<div class="participant b"></div>
				<div class="participant c"></div>
				<div class="participant d"></div>
				<div class="participant e inactive"></div>
				<div class="participant f inactive"></div>
			</div>
		</div>

	</div>
	<div class="next scheduled">
		<div class="time">11:00</div>
		<div class="title">Reminder Call David Liam re: research findings</div>
	</div>
	<div class="join-button" ng-click="toggleMeeting(true)">Join</div>
</div>
<div class='misc-notification-container'>
	<div class="category-container">
		<div class='header'>
			<div class='icon'>
				<i class="icon-chats"></i>
			</div>
			<div class="title">Spark</div>
		</div>
		<div class='notification' notification user='Sherry' message="Visual design looks great!" time='3:22 PM'></div>
		<div class='notification' notification user='Adrian' message="When do you have time to sync up?" time='3:24 PM'></div>
	</div>
	<div class="category-container">
		<div class='header'>
			<div class='icon call'>
				<i class="icon-phone"></i>
			</div>
			<div class="title">Calls</div>
			
		</div>
		<div class='notification red' notification message="Missed a call from Marissa" time='12:00 PM'></div>

	</div>
	<div class="category-container">
		<div class='header'>
			<div class='icon'>
				<i class="icon-email"></i>
			</div>
			<div class="title">Emails</div>
		</div>
		<div class='notification' user="Elizabeth" notification message="Monthly UX/PM Master Class" time='10:22 AM'></div>
		

	</div>
</div>